
.page {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 2rem;              
  padding: 20px;
}



.search-container {
  display: flex;
  gap: 10px;
  top: 10px;
  background: white;
  padding: 10px;
}
